<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    </link>
    <link rel="stylesheet" href="../css/{{css}}.css">
    </link>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    </link>

    <title>{{title}}</title>
</head>

<body>
    <header>
        <nav>
            <span id="logo">
                <a href="/"><img src="/img/logo.png" alt="main image"></a>
            </span>

            <span id="nav-list">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/productList">Products</a></li>
                    <!--{{#if user}}
                        <li><a href="/dashboard">Dashboard</li>
                        <li><a href="/user/logout">Logout</a></li>
                    {{else}}-->
                    <li><a href="/login">Login</a></li>
                    <li><a href="/regit">Registration</a></li>
                   <!-- {{/if}}-->
                </ul>
            </span>
        </nav>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <div id="foot">
            <!--links-->
            <div class="foot">
                <div>© 2020 WEB322 Assignemt2 - Jinuk Baek</div>
            </div>
        </div>

        <div class="link-social">
            <!--link-->
            <br>
            <div>Social networks</div> <br>
            <div id="social">
                <a href="https://www.facebook.com/livefitfood"><img src="../img/facebook.PNG"></a>
                <a href="https://www.instagram.com/livefitfoods/"><img src="../img/instagram.jpg"></a>
            </div>
        </div>
    </footer>
</body>

</html>