<div id="dashboard">
    <h4>Thank you for registration ! </h4>
    <div id=cust>
        <h4>You can use the service now ! </h4>
    </div>
</div> <br>
<!--=======================================================-->
<!--<div id ="user">
{{{customer}}}
</div>
<br><br>-->
<div id="user">
    {{{user.email}}}
    <br>
    {{{user.firstName}}} {{{user.lastName}}}
    <br>
    <a href="/login">Log-Out</a> 
</div>
<br><br>
<button onclick="location.href='viewMeals'" class="btn">View Our Meals</button>
<button onclick="location.href='addMeals'" class="btn">Add new Meals</button>
<button onclick="location.href='editMeals'" class="btn">Edit Meals</button>
<!--=======================================================-->
<div id="thanks">
    <h4>Please Click on the picture !</h4>
    <a href="/"><img src="../img/dash.png" alt=" "></a>
</div>