<div id="dashboard">
    <h4>Thank you for registration</h1>
</div> <br>
<div id ="user">
{{{customer}}}
</div>
<br><br>
<div id="thanks">
    <h4>Please Click on the picture !</h4>
    <a href="/"><img src="../img/dash.png" alt=" "></a>
</div>