#dashboard{
    text-align: center;
    font-weight: bold;
}

#thanks{
    text-align: center;
    font-weight: bold;
}

#thanks img{
    justify-content: center;
}

#user{
    text-align: center;
    font-weight: bold;
}