#form{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;

    z-index: 9999;
}

#regit_form{
    width: 300px;
}

#form fieldset{
    padding-left: 20%;
    padding-right: 20%;
}

footer{
    position: fixed;
    width: 100%;
    bottom: 0;
}

.social_logo{
    justify-content: center;
}

.social_logo img{
    width: 30px;
}

#success_div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:center;

    z-index: 9999;
}

#success{
    text-align: center;
}

#success a:link{
    color:black;
    text-decoration: none;
}

#success a:visited{
    color:black;
    text-decoration: none;    
}

#error_div{
    color: red;
    font-size: 10px;
}